body {
  font-family: 'Merriweather', serif;
  background-image: linear-gradient(to right, aqua, blue);
}
hr {
  border-color: gray;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;  
  width: 3%;	
}
h1 {
  font-size: 50px;
  font-family: 'Sacramento', cursive;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}


